<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>msva-rb</title>
  </head>
  <body>
    <h1>msva-rb</h1>
    <p>
      Hello, this is MSVA-Ruby version 0.01.
    </p>
    <p>
      Copyright &copy; 2010 Michael Castleman.
    </p>
    <p>
      This program is free software: you can redistribute it and/or
      modify it under the terms of the GNU General Public License as
      published by the Free Software Foundation, either version 3 of
      the License, or (at your option) any later version.
    </p>
    <p>
      This program is distributed in the hope that it will be useful,
      but WITHOUT ANY WARRANTY; without even the implied warranty of
      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
      GNU General Public License for more details.
    </p>
    <p>
      You should have received a copy of the GNU General Public
      License along with this program.  If not, see
      &lt;<a href="http://www.gnu.org/licenses/">http://www.gnu.org/licenses/</a>&gt;.
    </p>
    <% if @git_rev %>
      <p style="font-size: smaller;">
        git repo revision <code><%= @git_rev %></code>
      </p>
    <% end %>
  </body>
</html>
